@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yantramanav&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: url("../../public/images/pokeWallPaper.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    justify-content: space-evenly;
    width: 350px;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.poke-list, .right-content {
    flex-basis: 70%;
}

.poke-list {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 2rem;
    column-gap: 0.5rem;
}

.card {
    width: 400px;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.abilities {
    margin-top: 1rem;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0 1.5rem;
    width: 400px;
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;
    justify-content: space-evenly;
} 

.base-stat {
    margin-top: 2rem;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0 1.5rem;
    width: 400px;
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;
    justify-content: space-evenly;
}

.btn-group {
    display: flex;
}

.btn-group button {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 195px;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    font-size: 20px;
    margin: 0.2rem;    
}