@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yantramanav&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yantramanav&display=swap'); */

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Yantramanav', sans-serif;
}

body {
    background-color: #e3dac9 ;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content, .right-content {
    flex-basis: 50%;
}

.left-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 2rem;
}

.card {
    width: 300px;
    background-color: #008080;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}